* {font-family: Verdana;}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
nav img:nth-child(1){
  width: 80px;
  height: 40px;
  padding-left: 20px;
  padding-top: 3px;
}

.barrapesquisa input[type=search] {
  width: 1000px;
  height: 30px;
  border-radius: 90px;
  border: 2px solid black;
  text-transform: capitalize;
  padding: 10px;
  font-size: 20px;
}



nav {
  display: flex;
  width: 100vw;
  height: 3em;
  background-color: #2E3E46;
  box-sizing: border-box;
  position: relative;
  margin-top: -2%;
  border-bottom: 2px solid black;
  margin:0;
}

.imgdireita {
  width: fit-content;
  height: fit-content;
  padding-top: 3px;
  padding-left: 90vw;
  justify-content: center;
}

.barrapesquisa {
  display: flex;
  width: 100vw;
  height: 3em;
  background-color: #D9D9D9;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  margin-top: 7px;


}

.centralizar {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  padding-top: 5px;

  text-align: center;
}

.fatec {
  font-size: 50px;
  color: black;
  align-self: center;
}

h4 {
  color: white;

  margin: 0;
  text-align: right;
  padding-top: -10px;
}

img {
  height: fit-content;
  width: fit-content;
  align-self: center;
}

.centralizacao {
  width: 92vw;
  height: 89vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.folha {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;

  flex-direction: column;
  box-sizing: border-box;
}

.folha2 {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 200px;
}

.folha3 {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 215px;
}

input[type=file] {
  width: 182px;
  height: 231px;
  border: 2px solid black;
  background-image: url(img/bonecoimgdownload.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.esquerda {
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

.folha4 {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 20px
}

.folha5 {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  box-sizing: border-box;
}

.spaco {
  width: 1px;
  height: 20px;
  background-color: white;
}

.centralizar .folha input {
  justify-self: center;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  height: 25px;
  width: 220px;
  border: 2px solid #a5a9b6;
  margin-top: 2px;
  margin-bottom: 1px;
}

.centralizar .folha input[type=submit] {
  background-color: #2E3E46;
  margin-top: 20px;
  width: 100px;
  align-self: center;
  color: white;
  border: 0px;
  cursor: pointer;
}

label {
  align-self: center;
}

p {
  margin-top: 5px;
  align-self: center;
  margin-bottom: 0px;
  color: #a5a9b6;
}

/*nav img {
  width: 80px;
  height: 40px;
  padding-left: 10px;
  padding-top: 3px;
}*/
.space {
  width: 5px;
  height: 3px;
}

.space1 {
  width: 20px;
  height: 40px;
}

/*
.alunos {
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  height: 94vh;
  width: 210px;
  background-color: #2E3E46;
  border-top: 2px solid black;
  display: inline;

}

.alunoslista:hover .bola {
  background-color: #2E3E46;
}

.alunoslista:hover .cabeca {
  background-color: #2E3E46;
}

.alunostag {
  background-color: #2E3E46;
  padding-top: 7px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  height: 50px;
  text-align: center;
  justify-content: center;
}

.alunoslista {
  font-weight: bold;
  display: flex;
  background-color: #2E3E46;
  font-size: 30px;
  height: 50px;
  border: 2px solid #212d33;
  width: 190px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  box-sizing: border-box;
  padding-left: -10px;
}

.alunoslista:hover {
  background-color: white;
  color: #2E3E46;
  font-size: 30px;
  height: 50px;
  border: 2px solid white;
  text-align: center;
  justify-content: center;

}

.corpo {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  margin-right: 10px;
}

.cabeca {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.bola {
  width: 40px;
  height: 20px;
  border-radius: 150px 150px 0px 0px;
  background-color: white;
}
*/
h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-left: 240px;
  height: fit-content;
}

.abaixa {
  display: flex;
  flex-direction: column;
}

.fth {
  font-size: 40px;
  height: fit-content;
  margin-left: 486px;
}

.folha3 .inlineteste input {
  justify-content: stretch;
}

.fth1 {
  font-size: 40px;
  height: fit-content;
  justify-content: space-evenly;
  margin-left: 200px;
}

.reta {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

label {
  align-self: flex-start;
}

.inlineteste {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
}

textarea {
  width: 400px;
  height: 100px;
  margin-left: 199px;
  margin-top: 50px;
  font-size: 20px;
  resize: none;
}

.folha4 textarea {
  width: 300px;
  margin: 0px;

  resize: none;
}

.inlineteste input[type=submit] {
  background-color: #2E3E46;
  margin-top: 40px;
  width: 150px;
  height: 40px;
  align-self: center;
  color: white;
  border: 0px;
  cursor: pointer;
  font-size: 30px;
}
/* grid que toma conta da página professorhome*/
.corpoprofessorhome {margin:0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 18% 82%;
  grid-template-rows:40% 60%;
  grid-template-areas:'tabela area' 'tabela ocorrencia';

}
/* --v------------------------v---------------Tudo relacionado a sidebar alunos -----------------------v--------------------------v--------------*/
.tabela {
  background-color: #2E3E46;
  grid-area: tabela;
  height: 93.8%;
  width: 100%;

  overflow: scroll;
  overflow-x: hidden;
}

.alunos {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
}

.alunotag {
  padding: 4px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  border-bottom: 2px solid black
}

.alunocontainer {
  display: flex;
  color: white;
  background-color: #2E3E46;
  width: 100%;
  height: 50px;
  flex-direction: row;
  border-bottom: 2px solid black;
}

.alunocontainer:hover .cabeca {
  background-color: #2E3E46;
}

.alunocontainer:hover .bola {
  background-color: #2E3E46;
}

.escrita {
  width: 100%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: -30px;
  text-align: center;
  align-items: center;
  overflow: hidden;
  align-self: center;
}

.alunocontainer .escrita:hover {
  color: #2E3E46;
}

.boneco {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-top: 3px;
}

.cabeca {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 4px;
}

.bola {
  width: 40px;
  height: 20px;
  border-radius: 150px 150px 0px 0px;
  background-color: white;
}

.alunocontainer:hover {
  color: #2E3E46;
  background-color: white;
}

/* ----------------------------------------------------------------------------------------------------------------------*/


/* -----------v------------v---------------tudo referente a area do prof---------------------v-------------------v------------------*/
.areaprof {
  display: flex;
  grid-area: area;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.infprof input[type=file]{
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  box-sizing: border-box;
}
.sefi {align-self: center;
  justify-content: center;
  color: #2E3E46;
  height: fit-content;
  width: fit-content;
  margin-top: 10px;
  font-size: 50px;
}

.areaprofessor {
  width: 100%;
  height: 100%;
  display: flex;
}

.foto {
  width: 128px;
  height: 167px;
  background-image: url(img/Foto.png);
  margin-left: 50px;
  margin-top: 13px;
}
.infprof input[type=file]{
  border:transparent;
  background-color: transparent;
  color: transparent;
  background-image: none;
display: flex;
margin-left: 57px;
}



.inf {display: flex;
  width: 88%;
  height: 100%;
  flex-direction: column;
  margin-left: -80px;
  justify-content: center;
}

.rm {
  width: 100%;
  font-size: 30px;
  
}
.curso{
  width: 100%;
  font-size: 30px;
  
}
.nome {
  width: 100%;
  font-size: 30px;
  
}


.documentos {
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-top: 50px;
}

.documentos label {
  font-weight: bold;
  font-size: 20px;
  margin-left: 33px;
}

.documentos input[type=button] {
  background-color: #2E3E46;
  cursor: pointer;
  width: 150px;
  color: white;
  font-size: 20px;
}

.infprof {
  width: 80%;
  height: 100%;
  display: flex;
}
/* ----------------------------------------------------------------------------------------------------------------------*/

/* -----------v------------v---------------tudo referente a ocorrencias---------------------v-------------------v------------------*/
.ocorrencia {
  grid-area: ocorrencia;
  display: flex;
  flex-wrap: wrap;
  
}
.o1{color: #2E3E46;
text-align: left;
width: 100%;
height: fit-content;
font-size: 40px;
margin-left: 30px;}
.campocorrencia
{margin:0;
  width: 90%;
height: 70%;
background-color: #D9D9D9;
justify-content: center;
align-items: center;
margin-left: 30px;
font-size: 20px;
font-weight: bold;
border-radius: 20px;
overflow-y: scroll;
padding-left: 30px;
margin-bottom: 40px;
}
.campocorrencia::-webkit-scrollbar{
  scroll-behavior: smooth;

}
.campfit{width: fit-content;}
.campocorrencia a{text-decoration: none;
height: fit-content;}
.campocorrencia p{color:black;
height: fit-content;}
/* ------------------------------------ Fim ocorrencias----------------------------------------------------------*/
.corpoprofessorhome2 {margin:0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 18% 82%;
  grid-template-rows:40% 60%;
  grid-template-areas:'tabela tela' 'tabela tela';

}
/*------------v--------v------------TUDO RELACIONADO PROFESSORHOME2-------------v--------------------v------------*/
/*tabela copiei do professorhome, então está exatamente igual ao item referido 'tabela' no primeiro comentario acima*/
/*---------------v----------v----------relação sobre tela chave avaliacao aluno----------------v----------------v*/
.tela textarea{resize: none;
margin: 0;
width: 500px;
height: 120px;}
.tela{width: 100%;
grid-area: tela;
height: 100%;
box-sizing: border-box;
display: flex;
flex-direction: column;
}
.tela h1{color: #2E3E46;
font-size: 40px;
text-align: center;
margin: 0;
padding-top: 20px;}
.tela h2{color: black;
font-size: 40px;
font-weight: normal;
text-align: center;}
.infph2{display: flex;
  box-sizing: border-box;
  padding-left: 50px;
width: 100%;
height: fit-content;
overflow: visible;
margin-top: -50px;}
.infph2dados{padding-top: 53px;
  box-sizing: border-box;
  padding-left: 20px;
display: flex;
flex-direction: column;}
.infph2dados p{color: black;
font-size: 25px;
margin: 0px;}
.listatermo p{color:black;
font-size: 23px;
padding-left: 20px;}
.listatermo{width: 100%;
display: flex;
flex-direction: column;
box-sizing: border-box;
padding-left: 50px;
padding-top:10px;
margin-bottom: 90px;
}
.termo{box-sizing: border-box;
width:fit-content;
height: fit-content;
display: flex;
flex-direction: row;
margin:5px 0px 15px 0px;}
.arq{background-color: #2E3E46;
justify-content: flex-start;
padding-left: 5px;
align-items: center;
width: 160px;
height: 40px;
box-sizing: border-box;
display: flex;
}
.arqp{color: white;
font-weight: bold;
font-size: 20px;
padding-left: 5px;}
.termo a{text-decoration: none;}

button{background-color: #2E3E46;
margin-top:12px;
display: flex;
justify-content: center;
align-items: center;
width: 120px;
height: 25px;
cursor: pointer;}
.textobotao{color: white;
font-weight: bold;
font-size: 18px;}
.alinhar{width: 250px;
display: flex;
position: absolute;
margin-left: 600px;
justify-content: space-between;
align-items: center;
align-self: baseline;
justify-self:end;}
.comentario{display: flex;
flex-direction: column;
margin:0px;
width: 50%;
margin-top: 10px;
margin-left: 50px;}
.comentario label{font-size: 23px;}
.botoes{width: 100%;
height:13.6%;
display: flex;
justify-content: center;
align-items: center;}
.botoesc{width: 35%;
display: flex;
justify-content: space-around;}
.botoesc button{height: 35px;
width: 160px;
border-radius: 20px;
}
.botoesc .textobotao{font-size: 25px;}

