.documento {
    background-color: rgb(214, 182, 182);
    margin: 16px 0;
    padding: 8px;
}

.doc p {
    margin-right: 12px;
}

.doc {
    display: flex; 
}


.infos {
    margin-left: 8px;
    margin-bottom:16px;
}