.item {
    padding: 4px;
}

button {
    background-color: rgb(180 50 50);
    color: white;
    font-size: 12pt;
    border: 0;
    border-radius: 2px;
    max-width: fit-content;
    margin: 10px 0;
    padding: 8px 16px;
    cursor: pointer;
}