#formulario,
.seletor form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}


#formulario label,
.seletor label {
    margin-bottom: 4px;
    margin-right: 4px;
}


#formulario select,
.seletor select {
    margin-bottom: 8px;
    background-color: rgb(77, 15, 15);
    color: white;
    font-size: 12pt;
    border: 0;
    max-width: fit-content;
    padding: 8px 16px;
    cursor: pointer;
}


#formulario input,
.seletor input {
    width: 400px;
}


.content .btns {
    background-color: rgb(180 50 50);
    color: white;
    font-size: 12pt;
    border: 0;
    border-radius: 2px;
    max-width: fit-content;
    margin: 10px 0;
    padding: 8px 16px;
    cursor: pointer;
}